table.data_listing {
}
table.data_listing tr {
}
table.data_listing th {
    text-align: left;
    padding: 8px 10px 5px 10px;
    background: #fcfcfc;
    border-bottom: solid #efefef 1px;
    border-right: solid #ddd 1px;
}
table.data_listing td {
    text-align: left;
    border-right: solid #ddd 1px;
    padding: 8px 10px 5px 10px;
    border-bottom: solid #efefef 1px;
    vertical-align: top;
}

table.data_listing .action_link {
    border-right: solid #000 1px;
    padding: 0px 5px;
}
table.data_listing .action_link:last-child {
    border-right: 0;
}

div.data-row {
    display: table-row;
    width: 100%;
    line-height: 1.9em;
}
div.data-column {
    display: table-cell;
    min-width: 120px;
}
div.data-column label {
    font-weight: bold;
}
table.data_listing th h3 a {
    text-decoration: none;
}
.doc_image {
    width: 50px;
    vertical-align: top;
}
.doc_image img {
    width: 50px;
}