#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin-top: 24px;
}
#container header {
    padding: 10px 20px;
    background: #fcfcfc;
    border-bottom: solid #efefef 1px;
}
#container header h3 {
    font-size: 1.7em;
}
#container {
    display: table;
    min-height: 300px;
}
#container .sidenav {
    display: table-cell;
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    vertical-align: top;
}
#container .content {
    display: table-cell;
    min-width: 400px;
    width: 100%;
    vertical-align: top;
    border-left: solid #fff 1px;
}
#content {
    padding: 22px;
    padding-top: 0px;
}
#data_content {
    padding: 0px;
    padding-top: 0px;
}