body {
    font-size: 0.80em;
    
    padding-top: 0px;
    padding-bottom: 20px;
    
    font-family:'Actor', sans-serif;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

a {
    color: #800000;
}
a.selected,
a:hover {
    color: #000000;
}
p {
    line-height: 1.8em;
}
li {
    line-height: 1.8em;
}
nav li {
    line-height: 1.3em;
}
ul {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 25px;
}
header {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-align: left;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: baseline;
    color: #800000;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.0em;
}
h6 {
    font-size: 0.9em;
}
header.document_header h1,
header.document_header h2,
header.document_header h3,
header.document_header h4,
header.document_header h5,
header.document_header h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
}
header.document_header h2 {
    color: #333333;
    font-size: 2.2em;
}
header.document_header h5 {
    color: #666666;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1;
    margin-left: 25px;
    position: relative;
    top: 10px;
}

.wrapper {
    min-width: 800px;
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    border: solid #ccc 0px;
}
.page {
    background: #fff;
    margin-top: -10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}



nav.sidenav,
nav.footernavbar {
    font-family: 'Alegreya Sans SC', sans-serif;
}
nav.sidenav {
    border-right: solid #eee 1px;
    font-size: 1.13em;
    padding: 5px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
nav.sidenav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav.sidenav ul.width-spacer {
    border-top: solid #ccc 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}
nav.sidenav ul li a,
footer.document_footer a {
    border-radius: 4px;
    margin-top: 1px;
}
nav.sidenav ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
nav.sidenav ul li a:hover,
nav.sidenav ul li a.selected {
    background: rgba(0,0,0,0.05);
}
nav.sidenav ul li a.selected:hover {
    background: rgba(0,0,0,0.08);
}
header.document_header {
    border-bottom: solid #eee 1px;
}


footer.document_footer a {
    color: #fff;
    text-decoration: none;
    padding: 4px 5px;
}
footer.document_footer a:hover,
footer.document_footer a.selected {
    background: rgba(255,255,255,0.1);
}
footer.document_footer a.selected:hover {
    background: rgba(255,255,255,0.15);
}

footer.document_footer {
    background: #fff;
    border: solid #000000 0px;
    border-top: solid #eee 1px;
    min-height: 60px;
    vertical-align: top;
    background: transparent url('../images/bg-page-big.jpg') repeat-x left top;
    background: #fafafa url('../images/bgspan.png') repeat-x 0 0;
    min-height: 97px;
    max-height: 97px;
    height: auto;
    overflow: hidden;
    box-shadow: inset 0px 2px 30px rgba(0,0,0,0.4);
    
    /*border-top: solid #eee 1px;*/
}
header.document_subheader {
  background: #fff;
  border: solid #000000 0px;
  border-top: solid #eee 1px;
  vertical-align: top;
  background: transparent url('../images/bg-page-big.jpg') repeat-x left bottom;
  min-height: 57px;
  max-height: 57px;
  height: auto;
  overflow: hidden;
  box-shadow: inset 0px 2px 30px rgba(0,0,0,0.4);
  /* border-top: solid #eee 1px; */
}
.document-footer {
    min-height: 97px;
    max-height: 97px;
    height: auto;
    
    /*box-shadow: inset 0px 0px 30px rgba(0,0,0,0.4), 0px 2px 10px rgba(0,0,0,0.7);*/
    box-shadow: -3px 4px 10px rgba(0,0,0,0.3), 3px 4px 10px rgba(0,0,0,0.3);
    
    border: solid #ffffff 0px;
}

.header-title {
    padding: 20px 20px 25px 50px;
    margin-left: 125px;
}
footer.document_footer .app_logo {
    display: inline;
    float: left;
    width: 71px;
}
footer.document_footer .app_logo img {
    width: 80px;
    margin-left: 50px;
    margin-top: 8px;
}
footer.document_footer .footernav {
    display: inline-block;
    margin-left: 99px;
    border-left: solid rgba(0,0,0,0.2) 1px;
    min-height: 97px;
    max-height: 97px;
    height: 97px;
}
nav.footernavbar {
    min-height: 97px;
    max-height: 97px;
    height: 97px;
    border-left: solid rgba(255,255,255,0.1) 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
nav.footernavbar ul {
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    vertical-align: top;
    padding: 14px;
    padding-right: 0px;
    padding-top: 11px;
    padding-bottom: 5px;
}

nav.footernavbar ul li {
    min-width: 157px;
    min-width: 90px;
}
nav.footernavbar ul:last-child {
    
}
nav.footernavbar ul li a {
    display: block;
    padding-right: 60px;
    padding-left: 20px;
}

.member-profile-module {
    border: solid #000 0px;
}
header .member-profile-module {
    position: relative;
    display: inline;
    float: right;
    width: 100%;
    min-width: 220px;
    max-width: 220px;
    height: 90px;
}
header.document_header .header-logo {
    width: 165px;
    height: 130px;
    margin-left: 3px;
    position: relative;
    display: inline;
    float: left;
    margin-bottom: -36px;
    background: transparent url('../images/RhinoLogoTransparentSmall.png') no-repeat 0 0;
}

header.document_subheader .member-profile-module {
    position: relative;
    display: inline;
    float: right;
    width: 100%;
    height: 58px;
    width: 450px;
    min-width: inherit;
    max-width: inherit;
}
header.document_subheader .member-login form {
    display: table;
    width: 100%;
}
header.document_subheader .member-login form div {
    display: table-cell;
    max-width: 180px;
    min-width: 180px;
    width: auto;
}

.member-login {
    border: solid #000 0px;
    margin-top: 7px;
}

#container .content .member-login {
    max-width: 270px;
    padding-left: 20px;
    padding-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  margin: 0;
  width: 93%;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  
  padding: 4px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin-bottom: 2px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  
  border: solid 1px #cc0000;
  box-shadow: 0 0 5px 1px #800000;
}
#container .content .member-login input[type="text"],
#container .content .member-login input[type="email"],
#container .content .member-login input[type="password"] {
    
  padding: 8px;
  margin-bottom: 8px;
}
header.document_subheader .member-profile-module .member-login input[type="text"],
header.document_subheader .member-profile-module .member-login input[type="email"],
header.document_subheader .member-profile-module .member-login input[type="password"] {
  width: 80%;
  padding: 8px 12px;
  margin-top: 4px;
  margin-bottom: 1px;
    background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0);
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transpacent inset;
}
header.document_subheader .member-profile-module .member-login input[type="text"]::-webkit-input-placeholder,
header.document_subheader .member-profile-module .member-login input[type="email"]::-webkit-input-placeholder,
header.document_subheader .member-profile-module .member-login input[type="password"]::-webkit-input-placeholder {
   color:#ffffff;
   text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}

}
header.document_subheader .member-profile-module .member-login input[type="text"]:-moz-placeholder,
header.document_subheader .member-profile-module .member-login input[type="email"]:-moz-placeholder,
header.document_subheader .member-profile-module .member-login input[type="password"]:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;   
   text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}

header.document_subheader .member-profile-module .member-login input[type="text"]::-moz-placeholder,
header.document_subheader .member-profile-module .member-login input[type="email"]::-moz-placeholder,
header.document_subheader .member-profile-module .member-login input[type="password"]::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;    
   text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}

header.document_subheader .member-profile-module .member-login input[type="text"]:-ms-input-placeholder,
header.document_subheader .member-profile-module .member-login input[type="email"]:-ms-input-placeholder,
header.document_subheader .member-profile-module .member-login input[type="password"]:-ms-input-placeholder {  
   color: #ffffff;  
   text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
header button.btn.submit {
   border-radius: 4px;
   border: solid rgba(255,255,255,0.2) 1px;
   background: rgba(255,255,255,0.1);
   color: #ffffff;
}
header.document_subheader .member-profile-module .member-login button.btn.submit {
    padding: 9px 22px;
}

.profile-block {
    color: #fff;
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;
    line-height: 1.6em;
}
.profile-block a {
    color: #fff;
    text-decoration: none;
}
.profile-block ul {
    margin: 0;
    padding: 0;
    display: block;
    height: 25px;
    border: solid #fff 0px;
    margin-top: 5px;
}
.profile-block li {
    display: inline-block;
    
    padding: 0px 5px 0px 5px;
    line-height: 1;
}
.profile-block li {
    border-left: solid #999 1px;
}
.profile-block li:first-child {
    border-left: solid #fff 0px;
}
.profile-block li:last-child {
    padding-right: 0px;
}
.button_link {
    margin: 5px;
    padding: 10px 20px;
    display: inline-block;
    background: #fafafa url('../images/bgspan.png') repeat-x 0 0;
    color: #fff;
    text-decoration: none;
    border: 0;
}
.button_link:hover {
    color: #fff;
    
}

form.form-control {
    margin: 20px;
}
form.form-control label {
  padding: 10px 0px;
  display: block;
}
form.form-control input.short {
    width: 60px;
}
form.form-control input {
    max-width: 250px;
}
.form-multi-col {
    display: table;
    width: 100%;
}
.form-left-col {
    display: table-cell;
}
.form-right-col {
    display: table-cell;
    vertical-align: bottom;
}

.alert {
    margin-top: 20px;
    margin-left: 10px;
}
.alert-danger {
    
}
.alert-danger .alert-message {
    color: #800000;
    font-size: 1.3em;
}